th,td{
    color: black;
    border: 2px solid black;
}
th{
    text-align: center;
    background-color: red;
   
}
table{
    text-align: center;
    margin-left: 500px;
}
tfoot{
    background-color: green;
}
